@model CargoViewModel

<style>
    div {
        font-size: 15px;
    }
    div .form-control{
            font-size: 20px;
            font-family: Arial;
    }
    div .button{
            font-size: 20px;
    }

</style>

<div class="container mt-4">
    @if (Model is null)
    {
        <h1 class="text-center">Yeni Kargo Ekle</h1>
    }
    else
    {
           <h1 class="text-center">Kargo Güncelleştirme</h1> 
    }

    <form asp-controller="Cargo" asp-action="Add" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="SenderFirstName">Gönderici Adı</label>
                <input asp-for="SenderFirstName" class="form-control"  />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SenderLastName">Gönderici Soyadı</label>
                <input asp-for="SenderLastName" class="form-control"  />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="SenderTelNo">Gönderici Tel No</label>
                <input asp-for="SenderTelNo" class="form-control"  />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SenderCity">Gönderici Şehir</label>
                <input asp-for="SenderCity" class="form-control"  />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="SenderDistrict"></label>
                <input asp-for="SenderDistrict" class="form-control" />
            </div>
            <div class="form-group col-md-6">
            <label asp-for="SenderAddress"></label>
            <input asp-for="SenderAddress" class="form-control" />
            </div>


        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
         <label asp-for="RecieverFirstName"></label>
        <input asp-for="RecieverFirstName" class="form-control" />
        </div>
         <div class="form-group col-md-6">
         <label asp-for="RecieverLastName"></label>
        <input asp-for="RecieverLastName" class="form-control" />
        </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="RecieverTcNo"></label>
                <input asp-for="RecieverTcNo" class="form-control" />
            </div>
            <div class="form-group col-md-6">

                <label asp-for="RecieverTelNo"></label>
                <input asp-for="RecieverTelNo" class="form-control" />
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="RecieverCity"></label>
                <input asp-for="RecieverCity" class="form-control" />
            </div>
            <div class="form-group col-md-6">

                <label asp-for="RecieverDistrict"></label>
                <input asp-for="RecieverDistrict" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="RecieverAddress"></label>
                <input asp-for="RecieverAddress" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CargoNo"></label>
                <input asp-for="CargoNo" class="form-control" />
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Contents"></label>
                <input asp-for="Contents" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ProductName"></label>
                <input asp-for="ProductName" class="form-control" />
            </div>
        </div>


        <input type="hidden" asp-for="EmployeeId" value="@User.GetUserId()" class="form-control" />

       
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="PaymentBy">Ödeme Yöntemi</label>
                <select asp-for="PaymentBy" asp-items="@(ViewBag.PaymentOptions)" class="form-control">
                  
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Status">Durum</label>
                <select asp-for="Status" asp-items="@(ViewBag.StatusOptions)" class="form-control">
                   
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Weight">Ağırlık</label>
                <input asp-for="Weight" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ShippingPrice">Kargo Ücreti</label>
                <input asp-for="ShippingPrice" class="form-control"  />
            </div>
        </div>
        <div class="text-left">
            <button style="font-size: 15px" class="btn btn-primary" type="submit">Ekle</button>
        </div>
    </form>
</div>
